
#container {
    margin-left: 18%;
    border-style: solid;
    width: 64%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row{
    display: grid;
    grid-template-areas: "image  wrapper";
    grid-template-columns: 400px auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
}
#wrapper{
    grid-area:wrapper;
    display: grid;
    flex: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#probability{
    display: grid;
    flex: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 150%;

}

.button{
    height: 30px;
    margin:auto; 
    display:block;
}
.text{
    display: grid;
    flex: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 150%;
    margin-top: 50px;
}
.image {
    display: grid;
    max-width: 400px;
    grid-area: image;
}